<%- include('../template/head')-%>

<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <%- include('../template/nav')-%>
        <main role="main" class="inner cover">
            <h1 class="cover-heading">Nodejs</h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, dicta?</p>
            <p class="lead">
                <a href="https://gitHub.com/xam1dullo" class="btn btn-lg btn-secondary">GitHub account</a>
            </p>
        </main>
        <%- include('../template/footer')-%>
    </div>
</body>
<script>
    window.onload = function() {
        document.getElementById('home').classList.add('active');
      };
</script>
</html>
